<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         cacheResultFile=".phpunit.result.cache"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../</directory>
        </include>
        <exclude>
            <directory>.</directory>
            <file>../vendor</file>
            <file>../chapa-php</file>
        </exclude>
        <report>
            <html outputDirectory="coverage-html"/>
            <text outputFile="coverage.txt"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="test-results.xml"/>
        <testdoxHtml outputFile="test-results.html"/>
    </logging>

    <php>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_NAME" value="toady_game_test"/>
        <env name="DB_USER" value="test_user"/>
        <env name="DB_PASS" value="test_password"/>
        <env name="CHAPA_TEST_MODE" value="true"/>
        <env name="CHAPA_SECRET_KEY" value="CHASECK_TEST-your-test-key"/>
    </php>
</phpunit>
